body {
    margin: 0;
    padding: 0;
    background-color: rgb(44, 44, 236);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 20px;
    padding: 20px;
    height: 400px;
    background-color: white;
 
}